$darkgray: #5a5b60;
$red: #d00;

// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

h1 {
  font-family: cursive;
  text-align: center;
}

.contact-form {
  background-color: $darkgray;
  height: 300px;
  padding: 30px;
  width: 400px;
}

.add-button {
  &:hover {
    background-color: $red;
  }
}
